@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root {
    --background-color: #eee;
    --text-color: #222;
    --border-radius: 0.2rem;
}
* {
    border-radius: var(--border-radius);
}

body {
    font-family: "DM Sans";
    background: var(--background-color);
}

button {
    cursor: pointer;
    padding: 0.2 0.4rem;
    outline: none;
    border: 2px solid var(--text-color);
    font-weight: bold;
}